.line{
    margin-bottom:24.0pt;
    border-bottom:solid #808080 1.5pt
}

.h1{
    font-size: large;
    font-weight: bold;
}

body{
    background-color: grey;
    justify-content: center;
    align-items: center;
    font-size: medium;
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
}

.box{
    justify-content: center;
    align-items: center;
    border-radius: 20pt;
    background-color: white;
    box-shadow: black;
    width: 50%;
    padding: 3%;
}