.line{
    margin-bottom:24.0pt;
    border-bottom:solid #808080 1.5pt
}

.h1{
    font-size: large;
    font-weight: bold;
}

body{
    background-color: grey;
    justify-content: stretch;
    align-items: stretch;
    font-size: medium;
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
}

.box{
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 20pt;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 3%;
}