.line{
    margin-bottom:24.0pt;
    border-bottom:solid #808080 1.5pt
}

.h1{
    font-size: large;
    font-weight: bold;
}

body{
    background-color: grey;
    padding: 30%;
    justify-content: center;
    align-items: center;
    font-size: medium;
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
}